# this is an example env, please create your own .env

# json web token (jwt) secret: this keeps our app's user authentication secure
# this secret should be a random 20-ish character string
jwt_secret ='p4sta.w1th-b0logn3s3-s@uce'
jwt_algo='rs256'

# mongo db
# local development
mongodb_uri='mongodb://localhost/'

# port
port=3000

# Debug
LOG_LEVEL='debug'